.birdcard__image{
    width:50%;
    height: 50%;
}
.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}

  .birdcard {
    width: 30%;
    margin-bottom: 2%;
    text-align: center;
    background-color: rgb(228,245,242);
    box-shadow: 2px 2px 8px 4px rgb(171, 242, 185);
    margin: 10px;
  }
  
  .birdcard__adopt{
    margin-top: 2%;
    width:50%;
    font-size: larger;
    letter-spacing: 1%;
  }

  .birdcard__adopt:hover{
    color: rgb(3, 56, 35);
    cursor: pointer;
    background-color: rgb(171, 242, 185);
    box-shadow: 2px 2px 8px 4px grey;
    transition: box-shadow 0.5s ease-in;
  }

  .birdcard h4{
    margin-top: 3%;
  }