  .birdcard__image{
      width:50%;
      height: 50%;
  }

  .birdcard {
    width: 29%;
    text-align: center;
    background-color: rgb(228,245,242);
    box-shadow: 2px 2px 8px 4px rgb(171, 242, 185);
    margin-bottom: 2%;
    margin-left:2%;
    margin-top: 2%;
  }

  .birdcard__adopt{
    margin-top: 5%;
    width:50%;
    font-size: larger;
    letter-spacing: 1%;
    margin-bottom: 20%;
  }

  .birdcard__adopt:hover{
    color: rgb(3, 56, 35);
    cursor: pointer;
    background-color: rgb(171, 242, 185);
    box-shadow: 2px 2px 8px 4px grey;
    transition: box-shadow 0.5s ease-in;
  }

  .birdcard h4{
    margin-top: 3%;
  }