.Checkout{
    display: flex;
    flex-direction: column;
    border:2px solid blue;
    margin:0;
    width:25%;
    text-align: center;
}

.Checkout label{
    font-size: larger;
}

.Checkout button{
    font-size: large;
    width: 40%;
    margin-left: 5%;
    margin-bottom: 10%;
}

.Checkout input{
    width:70%;
    margin-bottom: 1%;
}