.Checkout{
    margin: 5%;
    width: 100%;
    text-align: center;
    box-shadow: 2px 2px 8px 4px rgb(71, 72, 71);
    border:2px solid rgb(216,215,216)
}

.Checkout label{
    font-size: larger;
}

.Checkout button{
    font-size: large;
    width: 45%;
    margin-left: 5%;
    margin-bottom: 10%;
    text-align: center;
}

.Checkout input{
    width:70%;
    margin-bottom: 1%;
}